<!DOCTYPE html>
<html>

<head>
    <title>My life</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/show_post.css">
    <link rel="stylesheet" href="/public/css/mainstyle.css">
    <link rel="stylesheet" href="/public/css/burger.css">
    <link rel="stylesheet" href="/public/css/posts.css">
    <link rel="stylesheet" href="/public/css/search.css">
    <link rel="stylesheet" href="/public/css/fonts.css">
    <link rel="stylesheet" href="/public/css/kebab.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
</head>