<%- include("partials/mainheadblock.ejs") %>

    <body>
        <div class="container">
            <%- include("partials/mainheader.ejs") %>
                <h1>Login</h1>
                <% if (error !=="" ) { %>
                    <div class="alert alert-danger" role="alert">
                        <%- error %>
                    </div>
                    <% } %>
                        <form method="post" action="/login">
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" name="email" class="form-control" id="email"
                                    placeholder="name@example.com" required>
                            </div>
                            <div class="form-group">
                                <label for="message">Password</label>
                                <input name="password" class="form-control" id="password" type="password" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Login</button>
                        </form>
        </div>
        <%- include("partials/scriptblock.ejs") %>
    </body>

    </html>