<%- include("partials/mainheadblock.ejs") -%>

    <body>
        <%- include("partials/mainheader.ejs") -%>
            <div class="container">
                <h1>Register</h1>
                <form method="post" action="/register">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" class="form-control" id="name" placeholder="John" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" name="email" class="form-control" id="email" placeholder="name@example.com"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="message">Password</label>
                        <input name="password" class="form-control" id="password" type="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
            <%- include("partials/scriptblock.ejs") %>
    </body>

    </html>