<%- include("partials/mainheadblock.ejs") %>

    <body>
        <div class="container">
            <%- include("partials/mainheader.ejs") %>
                <h1 id="post-title">
                    <%- Post["title"] %>
                </h1>
                <h5 id="post-category">
                    Category: <%- Post["category"] %>
                </h5>
                <h6 id="post-author">
                    by <%- Post["author"] %>
                </h6>
                <pre id="main-text-show">
                    <%- Post["body"] %>
                </pre>
                <h6 id="hashtag-show">
                    Hashtags: <br>
                    <span>
                        <%- Post["hashtag"] %>
                    </span>
                </h6>
                <div class="comment-container">
                    <h2>
                        Comments:
                    </h2>
                    <% comments.forEach (function (comment) { %>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    by <%- comment['comment_author'] %>
                                </h5>
                                <p class="card-text">
                                    <%- comment['comment_body'] %>
                                </p>
                                <a href="/posts/<%- Post['id'] %> /show/<%- comment['comment_id'] %>/delete"
                                    class="card-link delete">Delete</a>
                            </div>
                        </div>
                        <% }) %>
                            <div class="leave-comment-container">
                                <h2>
                                    Leave comment:
                                </h2>
                                <form method="post" action="/posts/<%- Post['id'] %>/show/comment">
                                    <div class="form-group">
                                        <label for="comment_author">Author</label>
                                        <input type="text" name="comment_author" class="form-control"
                                            id="comment_author" placeholder="John" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="comment_body">Body</label>
                                        <textarea name="comment_body" class="form-control" id="comment_body" rows="3"
                                            placeholder="Your comment" required></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Send</button>
                                </form>
                            </div>
                </div>
        </div>
        <%- include("partials/scriptblock.ejs") %>
    </body>